<h1>New Template</h1>

<div class="ui segment">
  <div class="ui form">
    <div class="field">
      <label>Title</label>
      {{input value=title placeholder="Template title..."}}
    </div>

    <div class="ui field">
      <label>Script</label>
      <div class="ui fluid search selection dropdown">
        {{input value=scriptId type="hidden" name="script"}}
        <i class="dropdown icon"></i>
        <div class="default text">Select a script</div>
        <div class="menu">
          {{#each this.model as |script|}}
            <div class="item" data-value={{script.id}}>{{script.title}}</div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="ui field">
      <button class="ui green button" {{action "addTemplate"}}>Add Template</button>
    </div>
  </div>
</div>
