<h1>New Script</h1>

<div class="ui segment">
  <form class="ui form" {{action "createScript" on="submit"}}>
    <div class="field">
      <label>Script Title (*)</label>
      {{input value=title placeholder="Script title..."}}
      {{model}}
      {{#each model.errors.username as |error|}}
        {{error.message}}
      {{/each}}
    </div>

    <div class="ui field">
      <label>Script Programming Language (*)</label>
      {{#ui-dropdown class="selection" selected="python" onChange=(action (mut language))}}
        <div class="default text">python</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div data-value="python" class="item">Python</div>
          <div data-value="scala" class="item">Scala</div>
        </div>
      {{/ui-dropdown}}
    </div>

    <div class="ui field">
      <label>Script Code (*)</label>
      {{textarea value=code}}
    </div>

    <div class="ui field">
      <label>Script Path (*)</label>
      {{input value=path}}
    </div>

    <button class="ui green button" type="submit">Submit</button>
  </form>
</div>
