<div class="job-scripts-show">
  <div class="ui inverted segment">
    <h1 class="ui header center aligned">
      {{this.model.title}}
    </h1>
  </div>

  <div class="ui center aligned grid">
    <div class="four wide column action-panel">
      <div class="ui inverted segment raised action-buttons">
        <CircularVerticalRouteButton @routeToLink={{"job-scripts.show.info"}} @color={{"violet"}} />

        <div class="ui inverted divider"></div>

        <CircularVerticalRouteButton @routeToLink={{"job-scripts.show.code"}} @color={{"violet"}} />

        <div class="ui inverted divider"></div>

        <CircularVerticalRouteButton @routeToLink={{"job-scripts.show.actions"}} @color={{"violet"}} />
      </div>
    </div>

    <div class="twelve wide stretched column main-stuff">
      <div class="ui raised segment">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
