<ResourceTitle @title={{"Jobs"}} />

<div class="ui modal">
  <div class="header">Header</div>
  <div class="content">
    <p></p>
  </div>
</div>

<div class="ui segment">
  <div class="ui grid">
    <div class="six wide column">
      <h1 class="ui header center aligned">Jobs Listing</h1>

      <div class="ui center aligned">
        <center>
          <div class="ui red statistic center aligned">
            <div class="value">
              {{model.length}}
            </div>
            <div class="label">
              Jobs
            </div>
          </div>
        </center>
      </div>
    </div>

    <div class="ten wide column">
      <table class="ui celled table">
        <thead class="ui inverted table">
          <tr>
            <th>Uuid</th>
            <th>Template</th>
            <th>Script</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.model as |job|}}
            <tr>
              <td>
                {{#link-to "processing-jobs.show" job.id}}
                  {{job.uuid}}
                {{/link-to}}
              </td>
              <td class="collapsing">
                {{#link-to "job-templates.show" job.jobTemplate.id}}
                  {{job.jobTemplate.title}}
                {{/link-to}}
              </td>
              <td>
                {{#link-to "job-scripts.show" job.jobTemplate.jobScript.id}}
                  {{job.jobTemplate.jobScript.title}}
                {{/link-to}}
              </td>
              <td>
                {{job.jobState}}
              </td>
              <td class="collapsing">
                {{#if job.canRunJob}}
                  <ProcessingJobActionButton @runJobAction={{action "runJob" job}} @size="small" @color="green" @icon="plus" />
                {{else}}
                  <ProcessingJobActionButton @runJobAction={{action "runJob" job}} @isloading={{true}} @size="small" @color="green" @icon="plus" />
                {{/if}}

                {{#if job.hasLog}}
                  <ProcessingJobActionButton @runJobAction={{action "logModal" job}} @size="small" @color="yellow" @icon="info" />
                {{else}}
                  <DisabledButton @size="small" @color="white" @icon="info" />
                {{/if}}
                <FadeProcessingJobButton @job={{job}} />
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>
</div>
