<h1>New Template</h1>

<div class="ui segment">
  <div class="ui form">
    <div class="field">
      <label>Title</label>
      {{input value=templateTitle placeholder="Template title..."}}
    </div>

    <div class="ui field">
      <label>Handler</label>
      <div class="ui fluid search selection dropdown">
        {{input value=templateHandl type="hidden" name="handler"}}
        <i class="dropdown icon"></i>
        <div class="default text">Select a handler</div>
        <div class="menu">
          {{#each this.model as |handl|}}
            <div class="item" data-value={{handl.title}}>{{handl.title}}</div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="ui field">
      <button class="ui green button" {{action "addTemplate"}}>Add Template</button>
    </div>
  </div>
</div>
