{{#step-manager as |w|}}
  {{#w.step name="extract"}}
    <ExtractStep/>

    <div class="ui divider"></div>

    <div class="ui form">
      <div class="field">
        <label>Capability</label>
        {{input value=capability placeholder="traffic_value"}}
      </div>
    </div>
  {{/w.step}}

  {{#w.step name="transform"}}
    <TransformStep/>

    <div class="ui divider"></div>

    <div class="ui segment">
      <form class="ui form">
        <div class="field">
          <label>SQL Query</label>
          {{textarea value=sqlQuery placeholder="SELECT * FROM ..."}}
        </div>
      </form>
    </div>
  {{/w.step}}

  {{#w.step name="load"}}
    <LoadStep/>

    <div class="ui divider"></div>

    <div class="ui form">
      <div class="ui field">
        <div class="ui right labeled input">
          {{input value=fileName placeholder="my_query_result"}}

          {{#ui-dropdown class="label" selected="fileFormat" onChange=(action (mut fileFormat))}}
            <div class="default text">.parquet</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div data-value="parquet" class="item">.parquet</div>
              <div data-value="json" class="item">.json</div>
              <div data-value="csv" class="item">.csv</div>
            </div>
          {{/ui-dropdown}}
        </div>
      </div>

      <button class="ui button" {{action "generateQuery"}}>Generate Query</button>
    </div>

  {{/w.step}}

  <div class="ui divider"></div>

  <button {{action w.transition-to-next}} class="ui button icon">
    Next Step
    <i class="ui arrow right icon"></i>
  </button>
{{/step-manager}}
